# === Стандартные правила (пример для Python) ===
__pycache__/
*.py[cod]
*.log
.env
.venv/


# === Ваши кастомные файлы/папки ===
/temp/          # игнорировать папку temp в корне
/config.local   # игнорировать файл
*.backup        # все файлы с расширением .backup
/test.py
/Литвинов ДмитрийВИИМ12.zip